.header {
    color: white;
    text-decoration: none;
}

app-student-card {
    width: 20%;
}

mat-toolbar {
    display: flex;
    justify-content: space-between;
}

mat-form-field {
    width: 20%;
    padding-top: 1.5rem;
}

.student-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;  
}

button.add {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}